<head>
  <meta charset="utf-8">

  <meta name="description" content="DNN Verification and Testing: Attacking Techniques">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  
  <h2>DNN Verification and Testing: Verification Techniques </h2>
  
<table class="tg">

  <tr>
    <th class="tg-yw4l"> Title </th> 
    <th> Link </th>    
    <th class="tg-yw4l"> Comment </th> 
  </tr>
  
  <tr>
    <th class="tg-yw4l"> Safety Verification of Deep Neural Networks </th> 
    <th> <a href="https://arxiv.org/abs/1610.06940">link</a> </th>    
    <th class="tg-yw4l">  </th>   
  </tr>
    
  <tr>
    <th class="tg-yw4l"> Reluplex: An Efficient SMT Solver for Verifying Deep Neural Networks </th> 
    <th> <a href="https://arxiv.org/abs/1702.01135">link</a> </th>    
    <th class="tg-yw4l">  </th>   
  </tr>
    
</table>

<a href="https://github.com/TrustAI/Literature-on-DNN-Verification-and-Testing">Back</a>
  
</body>
</html>
